version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: graphql
    versions:
    - 1.12.5
    - 1.12.6
    - 1.12.7
